/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-image: url('css/header.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: white; /* Adjust the text color for better visibility on the background image */
}

h1 {
    margin: 0;
    font-size: 2em;
    color: inherit; /* Use the same color as the header */
}

h2 {
    color: #32CD32; /* LimeGreen */
}

h3 {
    color: #FF4500; /* OrangeRed */
}

h4, h5, h6 {
    color: #6A5ACD; /* SlateBlue */
}

main {
    max-width: 800px;
    margin: auto;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
